h2.article-title{
	font-size: 32pt;
	width: 500px;
	padding-left: 24px;
	margin-bottom: 0px;
	display: inline-block;
	text-decoration: none;
	color: black;
}

div.left{
	width: 720px;
	float: left;
	display: inline;
}

div.top{
	height: 383px;
}


div.bottom{

	height: 240px;
}
div.bottom ul{

margin-top: 48px;
	float: left;
	list-style: none;
	font-size: 14pt;


}
